.section-tasks {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.div-titles-tasks {
  margin-top: 150px;
  width: 80%;
}

.div-tasks {

  margin: 10px auto;
  width: 80%;
}

.div-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  padding: 0 20px;
  width: 60%;
}

.div-side-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 200px;
  width: 20%;
}

.sort-options {
  margin: 20px auto;
  width: 90%;
}

.sort-direction {
  margin: 0 auto;
  width: 90%;
}
.sort-direction button {
  margin: 0 5px;
}


